// -- Settings for Breakpoints (Media Querys set to boostrap sizes).
$xs: 380px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$breakpoints: (
    'xs': (min-width: $xs),
    'sm': (min-width: $sm),
    'md': (min-width: $md),
    'lg': (min-width: $lg),
);

// -- Breakpoints (Media Querys set to boostrap sizes).
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
}

// -- Branding colours.
$branding-colors: (
    'grey': #444444,
    'red': #a70000,
    'black': #000000,
    'charcoal': #424242,
    'dark-grey': #676767,
    'off-white': #fafafa,
    'white': #fff,
    'yellow':#feb960,
);

// -- Color variables.
$branding-primary: map-get($branding-colors, 'yellow');
$branding-secondary: map-get($branding-colors, 'red');
$branding-tertiary: map-get($branding-colors, 'black');
$branding-quaternary: map-get($branding-colors, 'black');
$branding-quinary: map-get($branding-colors, 'charcoal');
$branding-senary: map-get($branding-colors, 'off-white');
$branding-septenary: map-get($branding-colors, 'grey');
$branding-octonary: map-get($branding-colors, 'dark-grey');
$branding-link: map-get($branding-colors, 'blue');

// -- Colors for social media bar.
$social-media: (
    'facebook': #3b5998,
    'google-plus': #c63d2d,
    'instagram': #4e433c,
    'linkedin': #4875b4,
    'twitter': #33ccff,
    'youtube': #ff3333,
    'pinterest': #cd1f28,
    'flickr': #e2e2e2,
    'rss': #fe9900,
);

// -- Fonts
@import url('//fonts.googleapis.com/css?family=Merriweather:300,400,700,900');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

@font-face {
    font-family: 'ElegantIcons';
    src:url('../fonts/ElegantIcons.eot');
    src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ElegantIcons.woff') format('woff'),
        url('../fonts/ElegantIcons.ttf') format('truetype'),
        url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-primary: 'Merriweather', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-elegant: 'ElegantIcons';



// -- Set a rem font size with pixel fallback
@function calculateRem($size) {
$remSize: $size / 18px;
@return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// -- Transitions.
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

.transition {
    @include transition(.25s all ease);
}

// -- Vendor prefix.
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
    @if $vendors {
        @each $vendor in $vendors {
            #{"-" + $vendor + "-" + $property}: #{$value};
        }
    }
    #{$property}: #{$value};
}

// -- No Padding.
.no-padding {
    padding-left: 0;
    padding-right: 0;
}

// -- Animation.
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

// -- Google material design dhadow.
@mixin box_shadow ($level) {
    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}